<div class="container">
  <div>
    <img class="logo" src="..\..\assets\images\logo.png" alt="">
  </div>
  <div>
    <Form class="form">
      <input class="input" type="text" placeholder="Nome">
      <input class="input" type="text" placeholder="E-mail">
      <input class="input" type="text" placeholder="Senha">
      <input class="input" type="text" placeholder="Confirmar senha">
    </Form>
    <div class="form_btn">
      <div></div>
      <input class="btn__2" type="submit" value="Músico">
      <input class="btn__2" type="submit" value="Contratante">
    </div>
  </div>
  <div class="dots">
    <div class="dot dot__1"></div>
    <div class="dot dot__2"></div>
    <div class="dot dot__2"></div>
    <div class="dot dot__2"></div>
  </div>
  <button class="btn__1">Avançar</button>
</div>