<div class="container">
    <div class="arrow_back">
        <img src="../../assets/images/arrow-point-to-right.svg" routerLink = "/login">
    </div>
  <div>
    <img class="logo" src="..\..\assets\images\logo.png" alt="">
  </div>
  <p class="titulo__cadastro">DADOS DA CONTA</p>
  <div>
    <Form class="form">
      <input class="form__textInput" type="text" placeholder="Nome" [(ngModel)] = "nome" required>
      <input class="form__textInput" type="text" placeholder="E-mail" [(ngModel)] = "email" required>
      <input class="form__textInput" type="password" placeholder="Senha" required>
      <input class="form__textInput" type="password" placeholder="Confirmar senha" [(ngModel)] = "senha">
    </Form>
    <div class="form__btn">
      <input class="btn__typeUser" [class.btn__typeUser--active] = "active1" (click) ="toggleBtn1()" type="submit" value="Músico">
      <!-- <div></div> -->
      <input class="btn__typeUser" [class.btn__typeUser--active] = "active2" (click) ="toggleBtn2()" type="submit" value="Contratante">
    </div>
  </div>
  <div class="footer__btn">
    <div class="dots">
      <div class="dot dot--active" routerLink = "/login" ></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
    <button class="btn__default"  routerLink = "/cadastrar2" (click) = "cadPart1(nome,email,senha)">Avançar</button>
  </div>
</div>
