* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  color: #ffffff;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: rgb(23, 23, 23);
}

.container>* {
  display: block;
  width: 289px;
  margin: auto;
}

.container>.footer__btn {
  font-size: 14px;
  position: absolute;
  padding-left: calc(50vw - 62.5px);
  width: 125px;
  bottom: 6vh;
}

.logo {
  width: 66.77px;
  height: 87.89px;
  display: block;
  padding-top: 36px;
  margin: 0 auto 73.11px auto;
}

.form {
  display: block;
  margin: auto;
  width: 289px;
}

.form__textInput {
  width: 270px;
  height: 25px;
  margin: 0 0 37px 0;
  color: #9EC2EF;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0);
  padding-left: 17px;
  border: 1px solid #9EC2EF;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

::placeholder {
  color: #9EC2EF;
}

.form__btn {
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 20%;
}

.form__radio{
  margin-top: 15px;
}
.form__radio>div {
  display: inline-block;
  width: 15px;
  height: 15px;
  box-sizing: border-box;
  border: 2px solid #377acf;
  border-radius: 100px;
}

.form__radio>div+label {
  color: #377ACF;
  padding-left: 8px;
}

.form__radio--checked>div {
  background: radial-gradient(#377ACF 30%, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 50%);
}


.btn__default {
  border: 0;
  width: 125px;
  height: 31.21px;
  display: block;
  color: white;
  border-radius: 4px;
  background-color: #377acf;
}

.btn__typeUser {
  border: 0;
  width: 125px;
  height: 25px;
  color: white;
  border-radius: 12px;
  background: linear-gradient(#9EC2EF, #377ACF);
  opacity: 0.5;
}
.form__btn>.btn__typeUser+.btn__typeUser{
  margin-left: calc(100% - 125px);
}

.btn__typeUser--active {
  opacity: 1;
}

.btn__addTag{
    position: relative;
    display: inline-block;
    width: 22px;
    height: 22px;
    box-sizing: border-box;
    background-color: #377ACF;
    border-radius: 100px;
}
.btn__addTag>div{
  position: absolute;
  background-color: #171717;
  top: 10px;
  left: 6px;
  width: 10px;
  height: 2px;
}
.btn__addTag>div + div{
  top: 6px;
  left: 10px;
  width: 2px;
  height: 10px;
}


.dots {
  margin: auto;
  width: 100px;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.dot {
  margin-left: 25%;
  width: 15px;
  height: 15px;
  border-radius: 100px;
  margin-bottom: 12px;
  box-sizing: border-box;
  border: 1px solid #9EC2EF;
}

.dot--active {
  background: linear-gradient(#9EC2EF, #377ACF);
  border: 0;
}
