<div class="container">

  <div class="upperbar">
    <div><img src="../../assets/images/close.svg"></div>
    <p>Contrato</p>
  </div>

  <div class="contrato">
    <div class="contrato__registro">
      <p>Nome do evento</p>
      <div class="contrato__data">00/00/0000</div>
    </div>
    <div class="contrato__contrato">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Et molestie ac feugiat sed lectus. Turpis tincidunt id aliquet risus feugiat in. Sapien nec
        sagittis aliquam malesuada bibendum arcu vitae elementum. Eget lorem dolor sed viverra ipsum nunc.
        <br/><br/>
        Adipiscing bibendum est ultricies integer quis auctor elit sed vulputate. Donec ac odio tempor orci dapibus
        faucibus pulvinar. <b>Arcu non sodales</b> neque sodales ut. Aliquam eleifend mi in nulla posuere sollicitudin.
        <br/><br/>
        Risus nullam eget felis eget nunc. Vel orci porta non pulvinar neque laoreet suspendisse. In nibh mauris cursus
        urna porttitor rhoncus dolor. Faucibus nisl tincidunt eget nullam non. Fringilla urna porttitor
        rhoncus dolor purus non. Sed felis eget velit aliquet sagittis id consectetur purus ut.
        <br/><br/>
        Ac ut consequat semper viverra nam libero. Morbi tristique senectus et netus et malesuada. Vel facilisis
        Mauris sit amet massa vitae tortor condimentum lacinia quis. Placerat in egestas erat imperdiet sed.
      </p>
    </div>
  </div>
  <div class="btn__list">
    <button class="btn__default btn__decline">Recusar</button>
    <div></div>
    <button class="btn__default">Aceitar</button>
  </div>

</div>

<footer>
  <div>
    <img src="../../assets/images/home-inativo.svg" alt="">
    <img src="../../assets/images/propostas-ativo.svg" alt="">
    <img src="../../assets/images/perfilMenu-inativo.svg" alt="">
  </div>
</footer>
