<div class="container">

  <div class="upperbar">
    <div routerLink="/buscamusi"><img src="../../assets/images/close.svg"></div>
    <p>Contrato</p>
  </div>

  <div class="contrato">
    <div class="contrato__registro">
      <p>CONTRATO DE PRESTAÇÃO DE SERVIÇOS ARTÍSTICOS
        </p>
      <div class="contrato__data">{{data_eve}}</div>
    </div>
    <div class="contrato__contrato">
       <p> <b>CONTRATANTE:</b> <span>{{ estabelecimento }}</span>, com sede na <span>{{endereco}}</span>, <span>{{cep}}</span>,
        <span>{{cidade}}</span>, inscrita no CNPJ sob o nº <span>{{cnpj}}</span>, e no Cadastro Estadual sob o
        nº 14342, neste ato representada por {{nome}}, brasileiro(a),
        empresario(a), portador da cédula de Identidade R.G. nº {{rg}}, e CPF/MF nº {{cnpj}},
        residente e domiciliado na {{endereco}}, {{cep}}, {{cidade}};
      </p>
      <p>
          <b>CONTRATADO:</b> <span>{{nome_musi}}</span>, brasileiro(a), artista, portador da
          cédula de identidade R.G. nº <span>{{rg_musi}}</span> e CPF/MF nº {{cpf_musi}}, residente e domiciliado
          na <span>{{endereco_musi}}</span>, <span>{{cep_musi}}</span>, <span>{{cidade_musi}}</span>.          
      </p>
      <p>As partes acima identificadas têm, entre si, justo e acertado, o presente Contrato
          de Prestação de Serviços Artísticos, que se regerá pelas cláusulas seguintes e pelas
          condições descritas no presente:
          </p>
          <p>
              <b>OBJETO DO CONTRATO</b> 
          </p>
          <p><b>Cláusula 1ª.</b> O presente contrato tem como OBJETO a realização, pelo artista, neste ato representado pelo CONTRATADO, de apresentação
              (Descrever o tipo de apresentação artística a ser realizada), no local <span>{{endereco}}</span>, no dia
              {{data_eve}}, iniciando-se às {{hora_ini}} horas e terminando às {{hora_fim}} horas.
        </p>
        <p><b>DAS OBRIGAÇÕES</b></p>
        <p><b>Cláusula 2ª.</b>  É responsabilidade do CONTRATANTE providenciar os alvarás e
            licenças necessárias junto aos órgãos competentes para a execução da
            apresentação artística, sendo responsável também pela estadia, transporte e
            alimentação do artista e sua equipe composta por seus membros.</p>
        <p><b>DA TRANSFERÊNCIA DE DATA</b></p>
        <p><b>Cláusula 4ª.</b> Se por motivo de força maior o CONTRATANTE solicitar transferência
            da data acima fixada, deverá informar ao CONTRATADO com antecedência mínima
            de 1 dias. Se por motivo de força maior o CONTRATADO encontrar-se
            impossibilitado de realizar a apresentação, deverá informar ao CONTRATANTE com
            antecedência mínima de 2 dias.</p>
        <p><b>DA REMUNERAÇÃO</b></p>
        <p><b>Cláusula 5ª.</b> O CONTRATANTE pagará o valor do pela
            apresentação do artista contratado, efetuando o pagamento em duas parcelas,
            sendo que a primeira, no valor da metade, será quitada no momento da assinatura
            deste contrato. A segunda parcela terá vencimento na data do evento, devendo ser
            quitada antes do artista subir ao palco.
            </p>
        <p><b>DAS NECESSIDADES DO ARTISTA</b>
          </p>
        <p><b>Cláusula 6ª.</b> Serão disponibilizados nas dependências do camarim do artista, pelo
            CONTRATANTE, os seguintes itens: água, tomadas.</p>
        <p><b>DA RESCISÃO</b></p>
        <p><b>Cláusula 7ª.</b> O presente contrato será rescindido caso uma das partes descumpra
            o pactuado nas cláusulas deste instrumento.
            </p>
        <p>
           <b>Cláusula 8ª.</b> Caso ocorra algum impedimento à realização do evento, ligado a caso
            fortuito ou a força maior, as partes deverão pactuar outra data ou proceder à
            devolução dos valores e à reposição do que foi gasto nos preparativos.
        </p>
        <p><b>DAS MULTAS</b></p>
        <p>
            <b>Cláusula 9ª.</b> Será ressarcida a parte que não violar qualquer das cláusulas
            dispostas neste instrumento, pela parte que der causa, aplicando-se multa de
            10% do valor estipulado na cláusula 5ª.</p>
        <p><b>DO FORO</b>
            <b>Cláusula 10ª.</b> As partes elegem o foro da comarca de (Cidade), para dirimirem
            quaisquer controvérsias oriundas do CONTRATO.
            Por estarem assim justos e contratados, firmam o presente instrumento, em duas
            vias de igual teor, juntamente com 2 (duas) testemunhas.</p>
            <p>
                (Assinatura do Contratante)
            </p>
            <p>
                (Assinatura do Contratado)
            </p>
    </div>
  </div>
  <div class="btn__list">
    <button class="btn__default btn__decline" routerLink="/buscamusi">Recusar</button>
    <div></div>
    <button class="btn__default" (click)="aceitaContrato()" routerLink="{{ rota }}">Aceitar</button>
  </div>

</div>

<footer>
  <div>
    <img src="../../assets/images/home-inativo.svg" alt="">
    <img src="../../assets/images/propostas-ativo.svg" alt="">
    <img src="../../assets/images/perfilMenu-inativo.svg" alt="">
  </div>
</footer>
