<div class="container">
    <div>
      <img class="logo" src="..\..\assets\images\logo.png" alt="">
    </div>
    <div>
      <Form class="form">
        <input class="form__textInput" type="text" placeholder="Titular" [(ngModel)] = "titular" required>
        <input class="form__textInput" type="text" placeholder="Bandeira" [(ngModel)] = "bandeira" required>
        <input class="form__textInput" type="text" placeholder="Número da conta" [(ngModel)] = "numero" required>
        <input class="form__textInput" type="text" placeholder="Agência" [(ngModel)] = "agencia" required>
      </Form>
    </div>
    <div class="footer__btn">
      <div class="dots">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot" routerLink="/cadastrar3musi"></div>
        <div class="dot dot--active"></div>
      </div>
      <button class="btn__default" routerLink ="/perfilMusico" (click) = "cardPart4(titular,bandeira,numero,agencia)">Avançar</button>
    </div>
  </div>
  