<div class="container">
  <div class="arrow__back" routerLink = "/cadastrar3musi">
    <img src="../../assets/images/arrow-point-to-right.svg">
  </div>
    <div>
      <img class="logo" src="..\..\assets\images\logo.png" alt="">
    </div>
    <p class="titulo__cadastro">DADOS BANCÁRIOS</p>
    <div>
      <Form class="form">
        <input class="form__textInput" type="text" placeholder="Titular" [(ngModel)] = "titular" required>
        <input class="form__textInput" type="text" placeholder="Bandeira" [(ngModel)] = "bandeira" required>
        <input class="form__textInput" type="text" placeholder="Número da conta" [(ngModel)] = "numero" required>
        <input class="form__textInput" type="text" placeholder="Agência" [(ngModel)] = "agencia" required>
      </Form>
    </div>
    <div class="footer__btn">
      <div class="dots">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot dot--active"></div>
      </div>
      <button class="btn__default" routerLink ="/perfilMusico" (click) = "cardPart4(titular,bandeira,numero,agencia)">Concluir</button>
    </div>
  </div>
  