<div class="container">
  <header class="head">
    <!-- <img src="../../assets/images/capa.png" class="head__capa"> -->
  </header>
  <div class="avaliar">
      <div class="avaliar__image">
        <img src="../../assets/images/foto-perfil.png" class="head__perfil">
        <p>Avalie Indiejgesto!</p>
      </div>  
      
    <div class="stars">
        <span class="icon-star" (click)="notaUm()"></span>
        <span class="icon-star" (click)="notaDois()"></span>
        <span class="icon-star" (click)="notaTres()"></span>
        <span class="icon-star" (click)="notaQuatro()"></span>
        <span class="icon-star" (click)="notaCinco()"></span>
    </div>
    <input type="text" class="input" placeholder="Adicione um comentário" [(ngModel)] = "comentarioContratante">
    <button class="btn-envi"  (click)="avaliar(comentarioContratante)"  routerLink = "/eventoeve2">Enviar</button>
  </div>
</div>