<div class="container">
  <header class="head">
    <!-- <img src="../../assets/images/capa.png" class="head__capa"> -->
  </header>
  <div class="avaliar">
      <div class="avaliar__image">
        <img src="../../assets/images/foto-perfil.png" class="head__perfil">
        <p>Avalie Indiejgesto!</p>
      </div>  
      
    <div class="stars">
        <img class="icon-star" (click)="notaUm()" src="{{star1}}">
        <div></div>
        <img class="icon-star" (click)="notaDois()" src="{{star2}}">
        <div></div>
        <img class="icon-star" (click)="notaTres()" src="{{star3}}">
        <div></div>
        <img class="icon-star" (click)="notaQuatro()" src="{{star4}}">
        <div></div>
        <img class="icon-star" (click)="notaCinco()" src="{{star5}}">
    </div>
    <input type="text" class="input" placeholder="Adicione um comentário" [(ngModel)] = "comentarioContratante">
    <button class="btn-envi"  (click)="avaliar(comentarioContratante)"  routerLink = "/eventoeve2">Enviar</button>
  </div>
</div>