<nav class="nav__tabs">
    <div class="nav__tabs__musico">
      <div>
        <div></div> <img src="../../assets/images/arrow-point-to-right.png">
      </div>
      <div routerLink ="/perfil">
        <div></div> <img src="../../assets/images/profiles-inativo.png">
        <p>Perfil</p>
      </div>
      <div routerLink ="/shows">
        <div></div> <img src="../../assets/images/tickets-inativo.png">
        <p>Shows</p>
      </div>
      <div routerLink ="/agenda" class="nav__tabs__musico--preActive">
        <div></div> <img src="../../assets/images/calendar-inativo.png">
        <p>Agenda</p>
      </div>
      <div routerLink ="/avaliacoes" class="nav__tabs__musico--active">
        <div></div> <img src="../../assets/images/star-ativo.png">
        <p>Avaliações</p>
      </div>
    </div>
</nav>

<div class="container">
  <div class="rating">

    <div>
      <div class="rating__perfilImage"></div>
      <div>
        <p class="rating__title">Boteco do Sertão</p>
        Contratou um show de voz e violão
      </div>
    </div>

    <div class="rating__comment">Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt
      ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris
      nisi ut aliquip ex ea commodo consequat.</div>

    <div>
      <div class="rating__stars">
        <img src="../../assets/images/stars.png">
      </div>
    </div>
  </div>

</div>

<footer>
  <div>
    <img src="../../assets/images/home-ativo.svg" alt="">
    <img src="../../assets/images/propostas-inativo.svg" alt="">
    <img src="../../assets/images/perfilMenu-inativo.svg" alt="">
  </div>
</footer>
