<div class="container">

  <div class="upperbar">
    <p>Evento</p>
  </div>

  <div class="capaPerfil">

    <div class="capaPerfil__foto">
      <div class=btn__addTag>
        <div></div>
        <div></div>
      </div>
    </div>

    <div class="capaPerfil__dados">
      <div class="capaPerfil__dados__nome">
        <p>Nome do evento</p>
      </div>
      <div class="capaPerfil__dados__endereco">
        <p>Rua do evento, bairro tambem, 0000</p>
      </div>
      <div class="capaPerfil__dados__endereco">
        <p>dd/mm/aaaa de 00:00 ás 22:00</p>
      </div>
    </div>

    <div class=btn__addTag>
      <div></div>
      <div></div>
    </div>
  </div>

  <div class="biosPerfil">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
    voluptate velit esse cillum dolore eu fugiat nulla pariatur.
  </div>

  <div class="eventoInfo">

    <label>Equipamento</label>
    <div class="tags">
      <div>Microfone</div>
      <div>Amplificador</div>
    </div>
    <label>Gênero</label>
    <div class="tags">
      <div>Sertanejo</div>
      <div>Chitãozinho e Chororó</div>
    </div>

    <label>Informações Extras</label>
    <div class="extraInfo">
      <img src="../../assets/images/exclamation.svg">
      <div> Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut aliquip ex ea commodo consequat.</div>
    </div>

  </div>

  <div class="footer__btn">
    <div class="dots">
      <div class="dot dot--active"></div>
      <div class="dot"></div>
    </div>
  </div>

</div>

<footer>
  <div>
    <img src="../../assets/images/home-inativo.svg" alt="">
    <img src="../../assets/images/propostas-ativo.svg" alt="">
    <img src="../../assets/images/perfilMenu-inativo.svg" alt="">
  </div>
</footer>
