<div class="container">

  <div class="upperbar">
    <p>Evento</p>
  </div>

  <div class="eventoInfo">
    <label>Músicos contratados</label>
  </div>

  <ul class="musicos">
    <li class="musico">
      <div>
        <img src="" class="foto">
      </div>
      <div class="infos">
        <div></div>
        <p class="nome">
          <b>Indiejgesto</b>
        </p>
        <div class="local tags">
          <div>pop</div>
          <div>jazz</div>
        </div>
      </div>
      <div class="preco">
        <div></div>
        <div>
          <img src="../../assets/images/chat.svg">
          <img src="../../assets/images/contract.svg">
        </div>
      </div>
    </li>
  </ul>

  <div class="btn__add">
    <div>
      <div></div>
      <div></div>
    </div>
  </div>

  <div class="messege">
    <p>Clique no + para contratar um músico!</p>
  </div>

  <div class="footer__btn">
    <div class="dots">
      <div class="dot" routerLink = "/eventos"></div>
      <div class="dot dot--active"></div>
    </div>
  </div>

</div>

<footer>
  <div>
    <img src="../../assets/images/home-inativo.svg" alt="">
    <img src="../../assets/images/propostas-ativo.svg" alt="">
    <img src="../../assets/images/perfilMenu-inativo.svg" alt="">
  </div>
</footer>
