<div class="container">
  <div>
    <img class="logo" src="..\..\assets\images\logo.png" alt="">
  </div>
  <div>
    <Form class="form">
      <input class="form__textInput" type="text" placeholder="RG">
      <input class="form__textInput" type="text" placeholder="CPF">
      <input class="form__textInput" type="text" placeholder="Cidade">
      <input class="form__textInput" type="text" placeholder="Endereço">
      <input class="form__textInput" type="text" placeholder="CEP">
    </Form>
  </div>
  <div class="footer__btn">
    <div class="dots">
      <div class="dot"></div>
      <div class="dot dot--active"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
    <button class="btn__default" routerLink = "/cadastrar3contra">Avançar</button>
  </div>
</div>
