<div class="container">
  <div>
    <img class="logo" src="..\..\assets\images\logo.png" alt="">
  </div>

  <label>Gêneros musicais</label>
  <div style="margin: 15px auto 37px auto;">
    <div class=btn__addTag>
      <div></div>
      <div></div>
    </div>
  </div>
  <div>
    <form class="form">
      <input class="form__textInput" name="generos" type="text" placeholder="Digite o genero" [(ngModel)] = "generos" >
    </form>
  </div>
  <Form class="form">
    <label>Tipo</label>

    <div class="form__radio" [class.form__radio--checked]="tipo1" (click)= "onClickBanda()">
      <div></div><label>Banda</label>
    </div>

    <div class="form__radio"  [class.form__radio--checked]="tipo2" (click) = "onClickSolo()">
      <div></div><label>Solo</label>
    </div>

    <div class="form__radio"  [class.form__radio--checked]="tipo3" (click) = "OnClickDj()">
      <div></div><label>Dj</label>
    </div>

  </Form>
  <div class="footer__btn">
    <div class="dots">
      <div class="dot"></div>
      <div class="dot" routerLink="/cadastrar2"></div>
      <div class="dot dot--active"></div>
      <div class="dot"></div>
    </div>
    <button class="btn__default" routerLink="/cadastrar4musi" (click) = "cardPart3(generos)">Avançar</button>
  </div>
</div>
