*{
    margin:0;
    padding: 0;
}

.login{
    background-color: #171717;
    width: 100vw;
    height: 100vh;
}

.logo{
    margin-left: 40px;
    margin-top: 86px;
}

.input{
    margin-left: 40px;
    background-color: transparent;
    border: 1px solid #9EC2EF;
    width: 270px;
    height: 25px;
    border-radius: 12px;
    color: white;
    margin-bottom: 16px;
    outline: none;
}
.text__error{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #e20000;
    margin-left: 40px;
    display: none;
}
.input__error{
    border-color: #e20000;
}
.visible{
    display: block;
}
.top{
    margin-top: 16px;
}

.botoes{
    margin-left: 40px;
    margin-top: 16px;
}

.botao{
    color: white;
    background-color: #377ACF;
    width: 125px;
    height: 31px;
    border-radius: 4px;
    border-color: transparent;
    margin-right: 20px;
    margin-top: 15px; 
    outline: none;
}

::placeholder{
    color: #9EC2EF;
    padding: 9px;
    margin-left: 9px;
}
.form {
    display: block;
    margin: auto;
    width: 269px;
    font-family: sans-serif;
  }
  
.form__radio{
    margin-top: 5px;
    width: 120px;
    float: left;
  }
  .form__radio>div {
    display: inline-block;
    width: 15px;
    height: 15px;
    box-sizing: border-box;
    border: 2px solid #377acf;
    border-radius: 100px;
  }
  
  .form__radio>div+label {
    color: #377ACF;
    padding-left: 8px;
  }
  
  .form__radio--checked>div {
    background: radial-gradient(#377ACF 30%, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 50%);
  }
  
  