<div class="login">
  <img class="logo" src="../../assets/images/Group 95.png" alt="">

  <p class="text__error" [class.visible] = "textError">Email e/ou Senha incorreto(s)</p>

  <input type="text"
  [(ngModel)]="email1"
  class="input"  
  [class.input__error] = "inputError"
  placeholder="E-mail">

  <input type="password" [(ngModel)]= "senha1" class="input top" [class.input__error] = "inputError" placeholder="Senha" >
  <!-- <Form class="form">
    <div class="form__radio" [class.form__radio--checked]="tipo1" (click)= "onClickMusico()">
      <div></div><label>Musico</label>
    </div>

    <div class="form__radio"  [class.form__radio--checked]="tipo2" (click) = "onClickContratante()">
      <div></div><label>Contratante</label>
    </div>
  </Form> -->
  <div class="botoes">
    <button class="botao" routerLink = "/cadastrar">Cadastrar</button>
    <button (click)="onSumit(email1,senha1)" routerLink ="{{ rota }}" class="botao">Entrar</button>
  </div>
</div>