<div class="container">

  <div class="upperbar">
    <p>Evento</p>
  </div>

  <Form class="form">
    <input class="form__textInput" type="text" placeholder="Nome do evento">
    <input class="form__textInput" type="text" placeholder="Data">
    <div>
      <input class="form__textInput" type="text" placeholder="Hora de início">
      <div></div>
      <input class="form__textInput" type="text" placeholder="Hora de termino">
    </div>
  </Form>


  <label>Equipamentos</label>
  <div style="margin: 15px auto 37px auto;">
    <div class=btn__addTag>
      <div></div>
      <div></div>
    </div>
  </div>

  <label>Gêneros</label>
  <div style="margin: 15px auto 37px auto;">
    <div class=btn__addTag>
      <div></div>
      <div></div>
    </div>
  </div>

  <div class="footer__btn">
    <div class="dots">
      <div class="dot dot--active"></div>
      <div class="dot"></div>
    </div>
  </div>

</div>

<footer>
  <div>
    <img src="../../assets/images/home-inativo.svg" alt="">
    <img src="../../assets/images/propostas-ativo.svg" alt="">
    <img src="../../assets/images/perfilMenu-inativo.svg" alt="">
  </div>
</footer>
