<div class="container">

  <div class="upperbar">
    <p>Evento</p>
  </div>

  <div class="capaPerfil">

    <div class="capaPerfil__foto">
      <div class=btn__addTag>
        <div></div>
        <div></div>
      </div>
    </div>

    <div class="capaPerfil__dados">
      <div class="capaPerfil__dados__nome">
        <p>Nome do evento</p>
      </div>
      <div class="capaPerfil__dados__endereco">
        <p>Rua do evento, bairro tambem, 0000</p>
      </div>
      <div class="capaPerfil__dados__endereco">
        <p>dd/mm/aaaa de 00:00 ás 22:00</p>
      </div>
    </div>

    <div class=btn__addTag>
      <div></div>
      <div></div>
    </div>
  </div>

  <Form class="form">
    <input class="form__textInput" type="text" placeholder="Descrição do evento">
  </Form>
  <label>informações adicionais</label>
  <Form class="form">
    <input class="form__textInput" type="text" placeholder="Infomação adicional">
  </Form>

  <button class="btn__default">Criar Evento</button>

  <div class="footer__btn">
    <div class="dots">
      <div class="dot"></div>
      <div class="dot dot--active"></div>
    </div>
  </div>

</div>

<footer>
  <div>
    <img src="../../assets/images/home-inativo.svg" alt="">
    <img src="../../assets/images/propostas-ativo.svg" alt="">
    <img src="../../assets/images/perfilMenu-inativo.svg" alt="">
  </div>
</footer>
