<nav class="nav__tabs">
  <div class="nav__tabs__musico">
    <div>
      <div></div> <img src="../../assets/images/arrow-point-to-right.png">
    </div>
    <div class="nav__tabs__musico--preActive">
      <div></div> <img src="../../assets/images/profiles-inativo.png">
      <p>Perfil</p>
    </div>
    <div class="nav__tabs__musico--active">
      <div></div> <img src="../../assets/images/tickets-ativo.png">
      <p>Shows</p>
    </div>
    <div>
      <div></div> <img src="../../assets/images/calendar-inativo.png">
      <p>Agenda</p>
    </div>
    <div>
      <div></div> <img src="../../assets/images/star-inativo.png">
      <p>Avaliações</p>
    </div>
  </div>
</nav>

<div class="container">
  <div class="showType">
    <div>
      <div class="showType__showImage"></div>
      <div>
        <p class="showType__title">Voz e Violão</p>
        <div></div>
        <div class="showType__tag">sertanejo</div>
      </div>
      <div>
        <p class="showType__price">300</p>
        hora de show
      </div>
    </div>

    <div class="showType__description">Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor
      incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud
      exercitation ullamco laboris nisi ut aliquip
      ex ea commodo consequat.</div>

    <div><button class="showType__button">contratar</button></div>
  </div>

</div>

<footer>
  <div>
    <img src="../../assets/images/home-ativo.svg" alt="">
    <img src="../../assets/images/propostas-inativo.svg" alt="">
    <img src="../../assets/images/perfilMenu-inativo.svg" alt="">
  </div>
</footer>
