<div class="container">
    <div class="arrow_back">
        <img src="../../assets/images/arrow-point-to-right.svg" routerLink = "/cadastrar3contra">
    </div>
  <div>
    <img class="logo" src="..\..\assets\images\logo.png" alt="">
  </div>
  <p class="titulo__cadastro">DADOS DO CARTÃO</p>
  <div>
    <Form class="form">
      <p class="text__error" [class.visible] = "textError">Preencha todos os campos</p>

      <input class="form__textInput" [class.input__error] = "inputErrorTitular" type="text" #input (input)="input.value=$event.target.value.toUpperCase()" placeholder="Nome do titular do cartão" [(ngModel)] = "titular">
      <input class="form__textInput" [class.input__error] = "inputErrorNumero" type="number" placeholder="Número" [(ngModel)] = "numero">
      <select class="form__selectInput" [class.input__error] = "inputErrorBandeira" 
      type="text" placeholder="Bandeira" [(ngModel)] = "bandeira">
      <option>Visa</option>
      <option>MasterCard</option>
      <option>Cielo</option>
      </select>
      <input class="form__textInput" [class.input__error] = "inputErrorCod" type="number" placeholder="Código de validação" [(ngModel)] = "cod">
      <input class="form__textInput" [class.input__error] = "inputErrorData" type="number" placeholder="Data de vencimento" [(ngModel)] = "data">
    </Form>
  </div>
  <div class="footer__btn">
    <div class="dots">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot dot--active"></div>
    </div>
    <button class="btn__default" (click)="cadCardPart4(titular,numero,bandeira,cod,data)" [routerLink] = "rota" >Concluir</button>
  </div>
</div>
