<div class="container">
  <div class="upperbar">

    <input type="search" class="pesquisa">
    <img src="../../assets/images/lupa.png" class="lupa">
  </div>
  <ul class="musicos">

    <li class="musico">
      <img src="../../assets/images/cantora.png" class="foto">
      <div class="infos">
        <div></div>
          <p class="nome">
              <b>Júlia Pacheco</b>
            </p>
            <div class="tags">
                <div class="tag">
                    <p>sertanejo</p>
                  </div>
            </div>
            <p class="local">
              Sobral - CE
            </p>
      </div>
      <div class="preco">
        <div></div>
        <div class="num"><p> 1000 </p></div>
        <div class="numb"><p>a 1300 reais</p></div>
      </div>
    </li>

  </ul>
</div>