* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav__tabs {
  background-color: #F6F6F6;
  height: 54px;
  font-size: 12px;
}

.nav__tabs__musico {
  background-color: #171717;
  height: 34px;
  padding-top: 10px;
  display: grid;
  grid-template-columns: 39px auto auto auto auto;
}

.nav__tabs__musico>div {
  background-color: #171717;
  height: 44px;
  border-radius: 0px;
  color: #efefef80;
  text-align: center;
}

.nav__tabs__musico>div:first-child {
  border-radius: 0 0 9px 0;
}

.nav__tabs__musico>.nav__tabs__musico--active {
  border-radius: 9px;
  color: #373737;
  background-color: #F6F6F6;
}

.nav__tabs__musico>.nav__tabs__musico--active+div {
  border-radius: 0 0 0 9px;
}



.container {
  height: calc(100vh - 117px);
  overflow: hidden;
  background-color: #F6F6F6;
}



footer {
  position: relative;
  background-color: #171717;
  height: 63px;
}

footer>div {
  position: absolute;
  top: 15px;
  display: grid;
  grid-template-columns: 60px auto 60px;
  width: 100vw;
  height: 30px;
}

footer>div>img {
  width: 30px;
  height: 30px;
}

footer>div>img:first-child {
  margin-left: 30px;
}

footer>div>img:nth-child(2) {
  width: 25.5px;
  height: 34px;
  margin: auto;
}
.capaPerfil{
  width: 340px;
  height: 116px;
  background-color:black;
  margin:auto;
  margin-top: 10px;
}
.biosPerfil{
  width: 300px;
  height: 70px;
  margin: auto;
  margin-top: 10px;
  text-align: left;
  font-size: 9px;
  color: #373737;
  font-weight: normal;
  
 
}

.capaPerfil__foto{
  width: 78px;
  height: 78px;
  background-color: #F6F6F6;
  margin-top: 20px;
  margin-left: 26px;
  border-radius: 50%;
  display: inline-block;
}
.capaPerfil__dados{
  width: 205px;
  height: 82px;
  display: inline-block;
  float: right;
  margin-top: 16px;
  margin-right: 11px;

}

.capaPerfil__linha{
    display: block;
    width: 100%;
    height: 43px;
   
}
.capaPerfil__linha__nomeMusico{
  width: 150px;
  height: 43px;
  vertical-align: middle;
  display: inline-block;
  font-size: 18px;
  color: #EFEFEF;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
  line-height: 1.2;

}

.capaPerfil__linha__avaliacaoMusico{
  width: 40px;
  height: 24px;
 display: inline-block;
  font-size: 18px;
  float:right;
  color: #EFEFEF;
  font-weight: bold;
  margin-right: 15px;
  vertical-align: middle;
}


.capaPerfil__tagEstiloMusical{
  width: 48px;
  height: 14px;
  background-color:#377ACF;
  margin-top: 7px;
  vertical-align: middle;
  border-radius: 8px;
  text-align: center;
  font-size: 8px;
  color: #FFFFFF;
  
  
}

.capaPerfil__enderecoMusico{

  width: 80px;
  height: 14px;
  margin-top: 5px;
  text-align: left;
  font-size: 9px;
  color: #FFFFFF;
  vertical-align: middle;
}
.tabsContainer{
  width:340px;
  height: 43px;
  margin: auto;
  margin-top: 5px;
  border-top: 1px solid  #C9C9C9;
  

}
.tabsContainer__perfil{
  width: 324px;
  height: 43px;
  margin: auto;

}

.tabsContainer__perfil__portfolio{
  width: 60px;
  height: 20px;
  background-color: #377ACF;
  font-size: 12px;
  color: #EFEFEF;
  display:inline-block;
  border-radius: 14px;
  text-align: center;
  vertical-align: middle;
  margin: 11px 4px 0px 0px;
  opacity: 0.7;
 

}
.tabsContainer__perfil__portfolio--active{
  width: 60px;
  height: 20px;
  font-size: 12px;
  color: #EFEFEF;
  display:inline-block;
  border-radius: 14px;
  text-align: center;
  vertical-align: middle;
  margin: 11px 4px 0px 0px;
 background-color: #377ACF;
}
.posts{
  width: 360px;
  height: 100vh;
  margin: auto;
 
}
.posts__postPortfolio{
  width: 100%;
  height: 232px;
  margin: auto;
  border-top: 1px solid #C9C9C9;
  border-bottom: 1px solid #C9C9C9;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);  
 
}
.posts__postPortfolio__opcaoConteudo{
  width: 300px;
  height: 8px;
  text-align: center;
  margin: auto;
  margin-top: 5px;
  
}
.posts__postPortfolio__opcaoFixar{
  width: 40px;
  height: 8px;
  float: left;
  color: #C9C9C9;
  font-size: 6px;
  text-align: center;
  
}
.posts__postPortfolio__dots{
  width: 20px;
  height: 8px;
 
  float: right;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.posts__postPortfolio__dots__dot{
  width: 4px;
  height: 4px;
  background-color: #C9C9C9;
  border-radius: 50%;
  flex: 0 1 auto; 
  align-self: center;
}
  

.posts__postPortfolio__arquivoAnexado{
  width: 300px;
  height: 153px;
  background-color: #C9C9C9;
  margin: 11px auto auto auto;
}
.posts__postPortfolio__conteudoAnexado{
  width: 300px;
  height: 50px;
  margin: 5px auto auto auto;
}
.posts__postPortfolio__conteudoAnexado__titulo{
  width: 72px;
  height: 16px;
  color: #373737;
  font-size: 12px;
  text-align: left;
  vertical-align: middle;

}
.posts__postPortfolio__conteudoAnexado__conteudo{
  width: 100%;
  height: 29px;
  margin-top: 5px;
  color: #373737;
  text-align: left;
  font-size: 9px;
}



