<nav class="nav__tabs">
  <div class="nav__tabs__musico">
    <div class="nav__tabs__musico--preActive">
      <div></div> <img src="../../assets/images/arrow-point-to-right.png">
    </div>
    <div class="nav__tabs__musico--active" routerLink ="/perfil">
      <div></div> <img src="../../assets/images/profiles-ativo.png">
      <p>Perfil</p>
    </div>
    <div routerLink ="/shows">
      <div></div> <img src="../../assets/images/tickets-inativo.png">
      <p>Shows</p>
    </div>
    <div routerLink ="/agenda">
      <div></div> <img src="../../assets/images/calendar-inativo.png">
      <p>Agenda</p>
    </div>
    <div routerLink ="/avaliacoes">
      <div></div> <img src="../../assets/images/star-inativo.png">
      <p>Avaliações</p>
    </div>
  </div>
</nav>
<div class="container">

  <div class="capaPerfil">

    <div class="capaPerfil__foto">
    </div>

    <div class="capaPerfil__dados">
      <div class="capaPerfil__dados__nome">
        <p>Selvagens a
          procura de lei</p>
      </div>
      <div class="capaPerfil__dados__tag">
        <p>Sertanejo</p>
      </div>
      <div class="capaPerfil__dados__endereco">
        <p>Sobral-CE</p>
      </div>
    </div>

    <div class="capaPerfil__linha__avaliacaoMusico">
      <p>4.8</p>
      <img src="../../assets/images/star-orange.png">
    </div>

  </div>

  <div class="biosPerfil">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
    voluptate velit esse cillum dolore eu fugiat nulla pariatur.
  </div>


  <div class="tagsContent">
    <div class="tagsContent__typeMedia">
      <div></div>
      <div [class.tagsContent__typeMedia--active] = "tagtodo" (click) = alterarTagTodo()>Todos</div>
      <div></div>
      <div [class.tagsContent__typeMedia--active] = "tagvideo" (click) = alterarTagVideo() >Videos</div>
      <div></div>
      <div  [class.tagsContent__typeMedia--active] = "tagaudio" (click) = alterarTagAudio()>Áudios</div>
      <div></div>
      <div [class.tagsContent__typeMedia--active] = "tagtexto" (click) = alterarTagTexto()>Textos</div>
      <div></div>
      <div [class.tagsContent__typeMedia--active] = "tagfoto" (click) = alterarTagFoto()>Fotos</div>
      <div></div>
    </div>
  </div>


  <div class="posts">
    <!-- post video -->
    <div [style.display] = "video" (click) = alterarTagVideo() class="post video">
      <div class="post__opcaoConteudo">
        <div class="post__opcaoFixar">Video Fixado</div>
        <div class="post__dots">
          <div class="post__dots__dot"></div>
          <div class="post__dots__dot"></div>
          <div class="post__dots__dot"></div>
        </div>
      </div>

      <div class="post__arquivoAnexado">
      </div>
      <div class="post__conteudoAnexado">
        <div class="post__conteudoAnexado__titulo">Lorem Ipsum</div>
        <div class="post__conteudoAnexado__conteudo">
          Lorem ipsum dolor sit amet,
          consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua.</div>
      </div>
    </div>
<!-- post audio -->
<div  [style.display] = "audio" (click) = alterarTagAudio() class="post audio">
    <div class="post__opcaoConteudo">
      <div class="post__opcaoFixar">Audio Fixado</div>
      <div class="post__dots">
        <div class="post__dots__dot"></div>
        <div class="post__dots__dot"></div>
        <div class="post__dots__dot"></div>
    </div>
    </div>
      

      <div class="post__conteudoAnexado--audio">
          <div class="post__conteudoAnexado__container">
              <div class="post__conteudoAnexado__capa"></div>
              <div class="post__conteudoAnexado__infoAudio">
                <div class="post__conteudoAnexado__infoAudio__cont">
                    <img src="../../assets/images/play.png">
                  <span class="post__conteudoAnexado__infoAudio__text">
                      Lorem Ipsum
                  </span>
                </div>
                
                <div class="post__conteudoAnexado__infoAudio_subtitulo">Lorem Ipsum dolor sit - Lorem Ipsum</div>
                <div class="tempo_inicio">0:30</div>
                <div class="post__conteudoAnexado__infoAudio__audio">
                  <div class="audio_marcacao"></div>
                </div>
                <div class="tempo_fim">3:18

                </div>
            </div>

      </div>
         
    </div>
    </div>


<!-- post texto -->
<div  [style.display] = "texto" (click) = alterarTagTexto() class="post texto">
    <div class="post__opcaoConteudo">
      <div class="post__opcaoFixar">Texto Fixado</div>
      <div class="post__dots">
        <div class="post__dots__dot"></div>
        <div class="post__dots__dot"></div>
        <div class="post__dots__dot"></div>
      </div>
    </div>

    
    <div class="post__conteudoAnexado--texto">
      <div class="post__conteudoAnexado__titulo--texto">Lorem Ipsum</div>
      <div class="post__conteudoAnexado__subtitulo--texto">Lorem Ipsum dont </div>
      
      <div class="post__conteudoAnexado__conteudo">
        Lorem ipsum dolor sit amet,
        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua.</div>
    </div>
  </div>

<!-- post foto -->
<div [style.display] = "foto" (click) = alterarTagFoto() class="post foto">
    <div class="post__opcaoConteudo">
      <div class="post__opcaoFixar">Foto Fixado</div>
      <div class="post__dots">
        <div class="post__dots__dot"></div>
        <div class="post__dots__dot"></div>
        <div class="post__dots__dot"></div>
      </div>
    </div>

    <div class="post__arquivoAnexado">
    </div>
    <div class="post__conteudoAnexado">
      <div class="post__conteudoAnexado__titulo">Lorem Ipsum</div>
      <div class="post__conteudoAnexado__conteudo">
        Lorem ipsum dolor sit amet,
        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua.</div>
    </div>
  </div>

  </div>

</div>
<footer>
  <div>
    <img src="../../assets/images/home inativo.png" alt="">
    <img src="../../assets/images/propostas inativo.png" alt="">
    <img src="../../assets/images/perfil ativo.png" alt="">
  </div>
</footer>
