<nav class="nav__tabs">
  <div class="nav__tabs__musico">
    <div class="nav__tabs__musico--preActive" routerLink = "/login">
      <div></div> <img src="../../assets/images/arrow-point-to-right.svg">
    </div>
    <div class="nav__tabs__musico--active" routerLink ="/perfilMusico">
      <div></div> <img src="../../assets/images/propostas-ativo.svg">
      <p>Perfil</p>
    </div>
    <div routerLink ="/shows">
      <div></div> <img src="../../assets/images/tickets-inativo.svg">
      <p>Shows</p>
    </div>
    <div routerLink ="/agenda">
      <div></div> <img src="../../assets/images/calendar-inativo.svg">
      <p>Agenda</p>
    </div>
    <div routerLink ="/avaliacoes">
      <div></div> <img src="../../assets/images/star-inativo.svg">
      <p>Avaliações</p>
    </div>
  </div>
</nav>
<div class="container">

  <div class="capaPerfil">
    <div class="capaPerfil__foto">
        <label for="avatar" class="custom-avatar" >
            <img src="{{ perfil }}" alt="">
        </label>
        <input type="file"
            id="avatar" 
            accept="image/png, image/jpeg" (change)="onPerfil($event)">
    </div>

    <div class="capaPerfil__dados">
      <div class="capaPerfil__dados__nome">
        <p >{{nome}}</p>
      </div>
      <div class="capaPerfil__dados__tag">
        <p>{{genero}}</p>
      </div>
      <div class="capaPerfil__dados__endereco">
        <p>{{cidade}}</p>
      </div>
    </div>

    <div class="capaPerfil__linha__avaliacaoMusico">
      <p>{{avaliacao}}</p>
      <img src="../../assets/images/star-orange.svg">
    </div>

  </div>

  <div class="biosPerfil">
    <span [class.span_editar] = "spn_edt" >{{ descricao_bio }}</span>
    <button class= "btn_bio" (click)= "editarBio()">Editar</button>
    <input placeholder="Digite a descrição" type="text" id="input_editar" [class.input_editar] = "edt_act" [(ngModel)] = "descricao_bio"> 
  </div>


  <div class="tagsContent">
    <div class="tagsContent__typeMedia">
      <div></div>
      <div [class.tagsContent__typeMedia--active] = "tagtodo" (click) = alterarTagTodo()>Todos</div>
      <div></div>
      <div [class.tagsContent__typeMedia--active] = "tagvideo" (click) = alterarTagVideo() >Videos</div>
      <div></div>
      <div  [class.tagsContent__typeMedia--active] = "tagaudio" (click) = alterarTagAudio()>Áudios</div>
      <div></div>
      <div [class.tagsContent__typeMedia--active] = "tagtexto" (click) = alterarTagTexto()>Textos</div>
      <div></div>
      <div [class.tagsContent__typeMedia--active] = "tagfoto" (click) = alterarTagFoto()>Fotos</div>
      <div></div>
    </div>
  </div>


  <div class="posts">
    <!-- post video -->
    <div [style.display] = "video" (click) = alterarTagVideo() class="post video">
     
      <video width="410" height="200" controls>
        <source src="{{ video_port }}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
        <div>
            <label for="video_file" class="custom-video" >
                Adicionar video
                </label>
                <input type="file"
                    id="video_file" 
                    accept="video/mp4"
                     (change)="onVideo($event)">
        </div>
    </div>
    
<!-- post audio -->
<div  [style.display] = "audio" (click) = alterarTagAudio() class="post audio">
    <div class="post__opcaoConteudo">
      <div class="post__opcaoFixar">Audio Fixado</div>
      <div class="post__dots">
        <div class="post__dots__dot"></div>
        <div class="post__dots__dot"></div>
        <div class="post__dots__dot"></div>
        
    </div>
    </div>
    

      <div class="post__conteudoAnexado--audio">
          <!-- <div class="post__conteudoAnexado__container">
              <div class="post__conteudoAnexado__capa"></div>
              <div class="post__conteudoAnexado__infoAudio">
                <div class="post__conteudoAnexado__infoAudio__cont">
                    <img src="../../assets/images/play.png">
                  <span class="post__conteudoAnexado__infoAudio__text">
                      Lorem Ipsum
                  </span>
                </div>
                
                <div class="post__conteudoAnexado__infoAudio_subtitulo">Lorem Ipsum dolor sit - Lorem Ipsum</div>
                <div class="tempo_inicio">0:30</div>
                <div class="post__conteudoAnexado__infoAudio__audio">
                  <div class="audio_marcacao"></div>
                </div>
                <div class="tempo_fim">3:18

                </div>
            </div>

      </div> -->
      <audio controls>
        <source src="" type="audio/ogg">
        <source src="{{ audio_port }}" type="audio/mp3">
      Your browser does not support the audio element.
      </audio>
    </div>
    <div>
        <label for="audio_file" class="custom-audio" >
            Adicionar audio
            </label>
        <input type="file"
        id="audio_file" 
        accept="audio/mp3"
         (change)="onAudio($event)">
    </div>
    </div>


<!-- post texto -->
<div  [style.display] = "texto" (click) = alterarTagTexto() class="post texto">
    <div class="post__opcaoConteudo">
      <div class="post__opcaoFixar">Texto Fixado</div>
      <div class="post__dots">
        <div class="post__dots__dot"></div>
        <div class="post__dots__dot"></div>
        <div class="post__dots__dot"></div>
      </div>
    </div>

    
    <div class="post__conteudoAnexado--texto">
      <div class="post__conteudoAnexado__titulo--texto"></div>
      <div class="post__conteudoAnexado__subtitulo--texto">Letras das musicas</div>
      
      <div class="post__conteudoAnexado__conteudo">
        <span [class.span_editar] = "spn_det" >{{ detalhes_letra }}</span>
        <input placeholder="Digite a letra da musica" type="text" id="input_editar" [class.input_editar] = "edt_det" [(ngModel)] = "detalhes_letra"> 
      </div>
      <button class= "btn_det" (click)= "editarDet()">Adicionar</button>
    </div>
  </div>

<!-- post foto -->
<div [style.display] = "foto" (click) = alterarTagFoto() class="post foto">
    <div class="post__opcaoConteudo">
      <div class="post__opcaoFixar">Foto Fixado</div>
      <div class="post__dots">
        <div class="post__dots__dot"></div>
        <div class="post__dots__dot"></div>
        <div class="post__dots__dot"></div>
      </div>
    </div>

    <div class="post__arquivoAnexado">
      <img src="{{ fotos_port }}" alt="">
    </div>
    <div class="post__conteudoAnexado">
      <div class="post__conteudoAnexado__titulo"></div>
      <div class="post__conteudoAnexado__conteudo">
        </div>
    </div>
    <label for="foto_file" class="custom-foto" >
        Adicionar foto
        </label>
    <input type="file"
    id="foto_file" 
    accept="image/png, image/jpeg"
     (change)="onFoto($event)">
  </div>

  </div>

</div>
<footer>
  <div>
    <img src="../../assets/images/home-ativo.svg" alt="" routerLink = "/perfilMusico">
    <img src="{{ rota_img }}" alt=""  routerLink = "{{ rota }}">
    <img src="../../assets/images/perfilMenu-inativo.svg" alt="">
  </div>
</footer>