* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav__tabs {
  background-color: #F6F6F6;
  height: 54px;
  font-size: 12px;
}

.nav__tabs__musico {
  background-color: #171717;
  height: 34px;
  padding-top: 10px;
  display: grid;
  grid-template-columns: 39px 84px auto auto auto;
}
.nav__tabs__musico img{
  height: 18px;
  padding-top: 10px;
}

.nav__tabs__musico p{
  font-weight: 500;
  padding-top: 10px;
}

.nav__tabs__musico>div {
  background-color: #171717;
  height: 44px;
  display: grid;
  grid-template-columns: 10px 18px auto auto;
  border-radius: 0px;
  color: #efefef80;
  text-align: center;
}

.nav__tabs__musico>div:first-child {
  border-radius: 0 0 9px 0;
}

.nav__tabs__musico>.nav__tabs__musico--active {
  border-radius: 9px;
  color: #373737;
  background-color: #F6F6F6;
}

.nav__tabs__musico>.nav__tabs__musico--active+div {
  border-radius: 0 0 0 9px;
}



.container {
  height: calc(100vh - 117px);
  overflow: hidden;
  background-color: #F6F6F6;
}

.capaPerfil{
  display: grid;
  grid-template-columns: auto auto auto;
  width: 340px;
  height: 116px;
  background-color:black;
  margin:auto;
  margin-top: 10px;
}

.capaPerfil__foto{
  width: 78px;
  height: 78px;
  background-color: #F6F6F6;
  margin-top: 20px;
  margin-left: 26px;
  border-radius: 50%;
}
.capaPerfil__dados{
  display: grid;
  grid-template-rows: 43px 20px auto;
  margin-top: 16px;
}

.capaPerfil__dados__nome{
  width: 150px;
  height: 43px;
  font-size: 18px;
  color: #EFEFEF;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
  line-height: 1.2;
}


.capaPerfil__dados__tag{
  width: 48px;
  height: 14px;
  background-color:#377ACF;
  margin-top: 7px;
  vertical-align: middle;
  border-radius: 8px;
  text-align: center;
  font-size: 8px;
  color: #FFFFFF;
}

.capaPerfil__dados__endereco{
  margin-top: 5px;
  font-size: 9px;
  color: #FFFFFF;
}

.capaPerfil__linha__avaliacaoMusico{
  margin-top: 16px;
  display: -webkit-box;
  font-size: 18px;
  color: #EFEFEF;
  font-weight: bold;
  vertical-align: middle;
}



.biosPerfil{
  width: 300px;
  height: 70px;
  margin: auto;
  margin-top: 10px;
  font-size: 9px;
}



.tagsContent{
  width:340px;
  height: 43px;
  margin: auto;
  margin-top: 5px;
  border-top: 1px solid  #C9C9C9;
}
.tagsContent__typeMedia{
  display: grid;
  grid-template-columns: auto 60px auto 60px auto 60px auto 60px auto 60px auto;
  
}
.tagsContent__typeMedia>div{
  width: 60px;
  height: 20px;
  background-color: #3779cfb3;
  font-size: 12px;
  color: #efefefb3;
  border-radius: 14px;
  text-align: center;
  margin-top: 11px;
}
.tagsContent__typeMedia>div:nth-child(2n+1){
  width: 0px;
  height: 0px;
}
.tagsContent__typeMedia>.tagsContent__typeMedia--active{
  background-color: #377ACF;
  color: #EFEFEF;
}



.post{
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-top: 1px solid #C9C9C9;
  box-shadow: 0px 5px 6pt rgba(0, 0, 0, 0.16);  
}

.post__opcaoConteudo{
  width: 300px;
  height: 8px;
  margin: auto;
  margin-top: 5px;
}
  
.post__opcaoFixar{
  float: left;
  color: #C9C9C9;
  font-size: 6px;
}

.post__dots{
  width: 20px;
  height: 8px;
  float: right;
  display: flex;
  justify-content: space-between;
}
.post__dots__dot{
  width: 4px;
  height: 4px;
  background-color: #C9C9C9;
  border-radius: 50%;
  flex: 0 1 auto; 
  align-self: center;
}

.post__arquivoAnexado{
  width: 300px;
  height: 153px;
  background-color: #C9C9C9;
  margin: 11px auto auto auto;
}

.post__conteudoAnexado{
  width: 300px;
  margin: 5px auto auto auto;
}
.post__conteudoAnexado__titulo{
  font-size: 12px;
}
.post__conteudoAnexado__conteudo{
  margin-top: 5px;
  font-size: 9px;
}



footer {
  position: relative;
  background-color: #171717;
  height: 63px;
}
footer>div {
  position: absolute;
  display: grid;
  grid-template-columns: 110px auto 110px;
  width: 100vw;
  height: 60px;
}
footer>div>img {
  width: 30px;
  height: 30px;
  margin: auto;
}
footer>div>img:nth-child(2) {
  padding: 0;
  width: 25.5px;
  height: 34px;
}