<nav class="nav__tabs">
    <div class="nav__tabs__musico">
      <div>
        <div></div> <img src="../../assets/images/arrow-point-to-right.png">
      </div>
      <div>
        <div></div> <img src="../../assets/images/profiles-inativo.png">
        <p>Perfil</p>
      </div>
      <div class="nav__tabs__musico--preActive">
        <div></div> <img src="../../assets/images/tickets-inativo.png">
        <p>Shows</p>
      </div>
      <div class="nav__tabs__musico--active">
        <div></div> <img src="../../assets/images/calendar-ativo.png">
        <p>Agenda</p>
      </div>
      <div>
        <div></div> <img src="../../assets/images/star-inativo.png">
        <p>Avaliações</p>
      </div>
    </div>
</nav>

<div class="container">
  
</div>

<footer>
    <div>
      <img src="../../assets/images/home ativo.png" alt="">
      <img src="../../assets/images/propostas inativo.png" alt="">
      <img src="../../assets/images/perfil inativo.png" alt="">
    </div>
</footer>
  