<div class="container">

  <div class="upperbar">
    <p>Evento</p>
  </div>

  <ul class="musicos">
    <li class="musico">
      <div>
        <img src="" class="foto">
      </div>
      <div class="infos">
        <div></div>
        <p class="nome">
          <b>Júlia Pacheco</b>
        </p>
        <p class="local">
          Rua Ciro Gomes, Bairro Presidente, 12
        </p>
      </div>
      <div class="preco">
        <div></div>
        <div class="data">
          <p> 10/10 </p>
        </div>
        <div class="hora">
          <p>20:00</p>
        </div>
      </div>
    </li>
  </ul>

  <div class="btn__add">
    <div>
      <div></div>
      <div></div>
    </div>
  </div>

  <div class="messege">
    <p>Clique no + para criar um novo evento!</p>
  </div>

</div>

<footer>
  <div>
    <img src="../../assets/images/home-inativo.svg" alt="" routerLink = "/perfilMusico">
    <img src="../../assets/images/propostas-ativo.svg" alt=""  routerLink="/eventos">
    <img src="../../assets/images/perfilMenu-inativo.svg" alt="">
  </div>
</footer>
