* {
  padding: 0px;
  margin: 0;
}

.container {
  background-color: #171717;
  color: #EBEBEB;
  width: 100vw;
  height: calc(100vh - 63px);
  overflow: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
}

.container>* {
  display: block;
  width: 289px;
  margin: auto;
}

.container>.musicos {
  width: 100vw;
}

.container>.upperbar,
.container>.btn__add {
  width: 100vw;
  height: 54px;
  background-color: #171717;
  border-top: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 4px rgba(0, 0, 0, 0.16);
  box-sizing: border-box;
}

.btn__add>div {
  margin: 15px auto 0 auto;
  position: relative;
  width: 25px;
  height: 25px;
  /* display: inline-block; */
  /* box-sizing: border-box; */
}

.btn__add>div>div {
  position: absolute;
  background-color: #377ACF;
  top: 10px;
  width: 25px;
  height: 5px;
}

.btn__add>div>div+div {
  top: 0px;
  left: 10px;
  width: 5px;
  height: 25px;
}

.upperbar>p {
  padding-top: 10px;
  width: 80px;
  margin: auto;
  font-size: 26px;
  color: #EBEBEB;
}

/* detetalhes da lista de musicos*/
.musico {
  width: 100vw;
  height: 80px;
  border-bottom: 1px solid #707070;
  display: grid;
  grid-template-columns: 92px auto auto;
}

.musico>div:first-child {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-left: 16px;
  margin-top: 14px;
  overflow: hidden;
}

.foto {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  margin: -1px 0 0 -1px;
  background-color: #377ACF;
  /* essa cor é só representativa do display da foto */
}

.infos {
  display: grid;
  grid-template-rows: 14px auto auto auto;
}

.nome {
  font-size: 12pt;
  color: #EBEBEB;
}

.tags {
  display: flex;
}

.tag {
  border-radius: 8px;
  background-color: #377ACF;
  width: auto;
  height: 14px;
  padding: 0px 8px 0px 8px;
  box-sizing: border-box;
}

.tag p {
  font-size: 8pt;
  color: #EBEBEB;
  font-family: sans-serif;
}

.local {
  font-size: 7pt;
  color: #EBEBEB;
}

.preco {
  color: #EBEBEB;
  display: grid;
  grid-template-rows: 14px 30px auto;
}
.preco>div>img{
  width: 50px;
  margin-right: 20px;
  float: right;
}

.data {
  font-weight: 400;
  font-size: 20pt;

  padding-right: 10px;
}

.data p {
  float: right;
  padding-right: 16px;
}

.hora {
  font-size: 16pt;
  padding-right: 10px;
}

.hora p {
  float: right;
  padding-right: 16px;
}


.messege {
  height: 100vw;
  width: 100vw;
}

.messege p {
  padding-top: 50%;
  text-align: center;
  color: #377ACF;
}



/* navegador rodapé */
footer {
  position: relative;
  background-color: #171717;
  height: 63px;
  box-shadow: 0 -3px 4px #00000020;
}

footer>div {
  position: absolute;
  display: grid;
  grid-template-columns: 110px auto 110px;
  width: 100vw;
  height: 60px;
}

footer>div>img {
  width: 30px;
  height: 30px;
  margin: auto;
}

footer>div>img:nth-child(2) {
  padding: 0;
  width: 25.5px;
  height: 34px;
}


/* formulario do cadastro */
.form {
  display: block;
  margin: auto;
  width: 289px;
  padding-top: 37px;
}

.form>div {
  display: grid;
  grid-template-columns: auto 22px auto;
}

.form__textInput {
  width: 100%;
  height: 25px;
  margin: 0 0 37px 0;
  padding-left: 17px;
  box-sizing: border-box;
  color: #9EC2EF;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #377ACF;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

::placeholder {
  color: #9EC2EF;
}

.form__btn {
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 20%;
}

.form__radio {
  margin-top: 15px;
}

.form__radio>div {
  display: inline-block;
  width: 15px;
  height: 15px;
  box-sizing: border-box;
  border: 2px solid #377acf;
  border-radius: 100px;
}

.form__radio>div+label {
  color: #377ACF;
  padding-left: 8px;
}

.form__radio--checked>div {
  background: radial-gradient(#377ACF 30%, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 50%);
}


.btn__addTag {
  position: relative;
  display: inline-block;
  width: 22px;
  height: 22px;
  box-sizing: border-box;
  background-color: #377ACF;
  border-radius: 100px;
}

.btn__addTag>div {
  position: absolute;
  background-color: #171717;
  top: 10px;
  left: 6px;
  width: 10px;
  height: 2px;
}

.btn__addTag>div+div {
  top: 6px;
  left: 10px;
  width: 2px;
  height: 10px;
}


/* Perfil do evento */

.container>.capaPerfil {
  position: relative;
  width: 340px;
  display: grid;
  grid-template-columns: 130px auto;
  height: 116px;
  background-color: black;
  margin: auto;
  margin-top: 10px;
}

.capaPerfil>.btn__addTag {
  position: absolute;
  bottom: 18px;
  right: 10px;
}

.capaPerfil__foto {
  position: relative;
  width: 78px;
  height: 78px;
  background-color: #F6F6F6;
  margin-top: 20px;
  margin-left: 26px;
  border-radius: 50%;
}

.capaPerfil__foto>.btn__addTag {
  position: absolute;
  right: 0;
  bottom: 0;
}


.capaPerfil__dados {
  display: grid;
  grid-template-rows: 43px 20px auto;
  margin-top: 16px;
}

.capaPerfil__dados__nome {
  width: 150px;
  height: 43px;
  font-size: 18px;
  color: #EFEFEF;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
  line-height: 1.2;
}

.capaPerfil__dados__endereco {
  margin-top: 5px;
  font-size: 9px;
  color: #FFFFFF;
}


.capaPerfil__linha__avaliacaoMusico {
  margin-top: 16px;
  display: -webkit-box;
  font-size: 18px;
  color: #EFEFEF;
  font-weight: bold;
  vertical-align: middle;
}

.container>.biosPerfil {
  width: 300px;
  height: 70px;
  margin: auto;
  margin-top: 10px;
  font-size: 9px;
}

/* evento info */
.container>.eventoInfo{
  width: 340px;
  box-sizing: border-box;
  padding: 10px;
  margin: auto;
  margin-top: 5px;
  border-top: 1px solid #c9c9c940;
}
.eventoInfo>*{
  margin-top: 10px;
  margin-bottom: 20px;

}
.eventoInfo>label{
  font-size: 10pt;
}
/* evento informacoes extra */
.extraInfo{
  display: grid;
  grid-template-columns: 30px auto;
}
.extraInfo>img{
  width: 30px;
  margin: auto;
}
.extraInfo>div{
  height: 60px;
  overflow: scroll;
  font-size: 8pt;
}

/* tags */
.tags>div {
  display: inline;
  padding: 1px 10px 2px 10px;
  margin-right: 10px;
  box-sizing: border-box;
  background-color: #3779cf;
  font-size: 12px;
  color: #efefef;
  border-radius: 14px;
  text-align: center;
}
/* tag do musico pagina 2 */
.infos>.tags>div{
  height: 20px;
  padding-left: 5px;
  padding-right: 5px;
}
/* button */
.container>.btn__default {
  margin-top: 5vh;
  border: 0;
  width: 125px;
  height: 31.21px;
  display: block;
  color: white;
  border-radius: 4px;
  background-color: #377acf;
}

/* seletor de pagina */
.footer__btn {
  position: absolute;
  bottom: 5vh;
  padding-left: calc(50vw - 144px);
}

.dots {
  margin: auto;
  width: 45px;
  display: grid;
  grid-template-columns: auto auto;
}

.dot {
  margin-left: 25%;
  width: 15px;
  height: 15px;
  border-radius: 100px;
  margin-bottom: 12px;
  box-sizing: border-box;
  border: 1px solid #9EC2EF;
}

.dot--active {
  background: linear-gradient(#9EC2EF, #377ACF);
  border: 0;
}
.arrow_back{
  width: 30px;
  height: 0;
}

.arrow_back img{
  height: 15px;
  padding: 15px;
}


